service cloud.firestore {
  match /databases/{database}/documents {
    // helpers
    include "helpers/isAuthenticated.rules";

    // documents
    include "documents/users/index.rules";
}
